@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>



    <script src="~/Content/libs/reactvendor.75d5bab64cec16d47a78.js"></script>

    <script src="~/Content/libs/xlsxvendor.27ea73096c7483f940a4.js"></script>

    <script src="~/Content/libs/vendors-node_modules_fluentui_font-icons-mdl2_lib_index_js-node_modules_fluentui_react_lib_co-acd040.8becdb974fe8e49b4a37.js"></script>

    <script src="~/Content/libs/main.6ab61f7d7189a8266280.js"></script>


