@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>



    <script src="~/libs/reactvendor.416b54934c70bc587201.js"></script>

    <script src="~/libs/xlsxvendor.8c8b25cda65e180bbc87.js"></script>

    <script src="~/libs/vendors-node_modules_fluentui_font-icons-mdl2_lib_index_js-node_modules_fluentui_react_lib_co-acd040.de9cddc82605faa4c1cf.js"></script>

    <script src="~/libs/main.7901335a5612ed0ad710.js"></script>


